<!-- <body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">{{signin|uppercase}}</h5>
            <form class="form-signin" (ngSubmit)="f.form.valid && onSubmit()">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" name="name" [(ngModel)]="name" placeholder="Email address" required minlength="4" autofocus>
                <label for="inputEmail">Email address</label>
                <div class="form-group">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)"
                      class="alert alert-danger">
                    <div *ngIf="name.errors.required">
                      Name is required.
                    </div>
                    <div *ngIf="name.errors.minlength">
                      Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="name.errors.forbiddenName"
                    
                    
                    Name cannot be Bob.
                    
                      </div>
                  </div>
              </div>
              </div>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" name="pwd" [(ngModel)]="pwd" placeholder="Password" required minlength="4">
                <label for="inputPassword">Password</label>
                <div class="form-group">
                  <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)"
                      class="alert alert-danger">
                    <div *ngIf="pwd.errors.required">
                      Name is required.
                    </div>
                    <div *ngIf="pwd.errors.minlength">
                      Name must be at least 4 characters long.
                    </div>
                    <div *ngIf="pwd.errors.forbiddenName">
                      Name cannot be Bob.
                    </div>
                  </div>
              </div>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" (click)="login()" type="submit">Sign in</button>
              
               </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body> -->
<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">SIGN IN</h5>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit(f.value)" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="inputUsername ">Username</label>
              <input id="name" name="name" class="form-control" required minlength="4" appForbiddenName="bob"
                [(ngModel)]="data.name" #name="ngModel" />
            </div>
            <div class="form-group">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors.required">
                  Name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                  Name must be at least 4 characters .
                </div>
                <div *ngIf="name.errors.forbiddenName">
                  Name cannot be Bob.
                </div>
              </div>
            </div>
     <div class="form-group">
                <label for="inputPassword">Password</label>
              <input type="password" id="pass" name="pass" class="form-control" required minlength="4" appForbiddenName="bob"
                [(ngModel)]="data.pass" #pass="ngModel" />
            </div>
            <div class="form-group">
              <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="alert alert-danger">
                <div *ngIf="pass.errors.required">
                  Password is required.
                </div>
                <div *ngIf="pass.errors.minlength">
                  Password must be at least 4 characters  .
                </div>
                <div *ngIf="pass.errors.forbiddenName">
                  Password cannot be Bob.
                </div>
              </div>
            </div>
<!-- 
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input id="pwd" name="pwd" class="form-control" required minlength="4" appForbiddenName="bob"
                [(ngModel)]="data.pwd" #name="ngModel" />
            </div>
            <div class="form-group">
              <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
                <div *ngIf="pwd.errors.required">
                  Name is required.
                </div>
                <div *ngIf="pwd.errors.minlength">
                  Name must be at least 4 characters long.
                </div>
                <div *ngIf="pwd.errors.forbiddenName">
                  Name cannot be Bob.
                </div>
              </div>
            </div> -->
            
<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">Remember password</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="f.form.pristine || f.form.invalid" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



